
  .b-blue, .b-blue:before {
    background: #122272;
    background: -moz-linear-gradient(45deg, #122272 0%, #86A3F7 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #122272), color-stop(100%, #86A3F7));
    background: -webkit-linear-gradient(45deg, #122272 0%, #86A3F7 100%);
    background: -o-linear-gradient(45deg, #122272 0%, #86A3F7 100%);
    background: -ms-linear-gradient(45deg, #122272 0%, #86A3F7 100%);
    background: linear-gradient(45deg, #122272 0%, #86A3F7 100%);
  }
/*END GRADIENTS*/
/*BASE BUTTON*/
.button {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
  font-size: 2em;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
}
.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}
.button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}
.button2 {
    display: inline-block;
    font-size: 21px;
    margin: 5.5em;
    padding: 0.5em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(1deg);
    color: #FFF;
    text-decoration: none;
}
a.button2:hover {
    color: white!important;
    text-decoration: none;
}
/*END ROTATE*/
