.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #122272;
    -webkit-transition: .4s;
    transition: .4s;
    border: #e8ebf3 solid 1px;
    padding: 26% 42px!important;

}

.slider:before {
    position: absolute;
    content: "";
    height: 47px;
    width: 33px;
    left: 0px;
    bottom: 0px;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid;
}

input:checked+.slider {
    background-color: #122272;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}
/*------ ADDED CSS ---------*/
.on{
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 53%;
  left: 34%;
  font-size: 15px;
  font-weight: 600;
}
.on {
    display: none;
}

.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 68%;
    font-size: 14px;
    font-weight: 600;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}
/*--------- END --------*/
/* Rounded sliders */
